.principalTitle{
    margin-top: 20px;
    text-align: center;
}
body{
    background: #e8e8e8;
}
.mew-form, .loading{
    width: 50%;
    margin: 0 auto;

}
.loading{
    text-align: center;
}

.mews h6{
    color: #aaa;
    font-weight: lighter;
}
.request{
    color: tomato;
    text-align: center;
}